@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Quicksand:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Akshar&family=Pacifico&display=swap');

body {
  margin: 0;
  font-family: 'Montserrat', 'Pacifico', 'Akshar', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -ms-overflow-style: none;
  scrollbar-width: none;
  height: 80rem;
}

.shadow {
  box-shadow:
    -2px -2px 3px 0 rgba(54, 53, 53, 0.2),
    4px 4px 5px 0 rgba(0, 0, 0, .2);
}

body::-webkit-scrollbar {
  display: none;
}


@keyframes home-page-close {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-97%);
  }
}

@keyframes p1-page-close {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-97%);
  }
}

@keyframes p2-page-close {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-97%);
  }
}

.home-page-close {
  animation: home-page-close 1200ms forwards;
}

.p1-page-close {
  animation: p1-page-close 1200ms forwards;
}

.p2-page-close {
  animation: p2-page-close 1200ms forwards;
}

@keyframes home-page-open {
  0% {
    transform: translateX(-97%);
  }
}

@keyframes p1-page-open {
  0% {
    transform: translateX(-94%);
  }
}

@keyframes p2-page-open {
  0% {
    transform: translateX(-91%);
  }
}

.home-page-open {
  width: 94%;
  animation: home-page-open 1000ms forwards;
}

.p1-page-open {
  width: 97%;
  animation: p1-page-open 1000ms forwards;
}

.p2-page-open {
  width: 97%;
  animation: p2-page-open 1000ms forwards;
}


.home-page-text,
.piece-one-page-text,
.piece-two-page-text,
.conclusion-page-text {
  display: flex;
  justify-content: flex-end;
  /* margin-top: 2rem; */
}

.home-page-text>div:hover,
.piece-one-page-text>div:hover,
.piece-two-page-text>div:hover,
.conclusion-page-text>div:hover {
  @apply text-white cursor-pointer
}

.nav-text {
  @apply text-2xl text-center inline-block justify-center px-2 mt-[2.5rem]
}


.nine h1 {
  @apply text-center uppercase text-[50px] text-black;
}

.nine h1 span {
  margin-top: 5px;
  font-size: 15px;
  color: #444;
  word-spacing: 1px;
  font-weight: normal;
  letter-spacing: 2px;

  display: grid;
  grid-template-columns: 1fr max-content 1fr;
  grid-template-rows: 27px 0;
  grid-gap: 20px;
  align-items: center;
}

.nine h1 span:after,
.nine h1 span:before {
  content: " ";
  display: block;
  border-bottom: 1px solid white;
  border-top: 1px solid white;
  height: 5px;
  background-color: transparent;
}

.shadow-full {
  box-shadow: inset 2px 2px 3px 0 rgba(255, 255, 255, .3),
    inset -2px -2px 3px 0 rgba(116, 125, 136, .2),
    -2px -2px 3px 0 rgba(255, 255, 255, .2),
    2px 2px 3px 0 rgba(0, 0, 0, .2);
}

@keyframes fade {
  0% {
    opacity: 0;
  } 
  100% {
    opacity: 1;
  }
}

.animate-fade {
  animation: fade 800ms forwards;
}

.unselectable {
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.card-grid {
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 1rem;
}

.large-grid {
  display: grid;
  grid-template-columns: 25rem 40rem;
  grid-gap: 1rem;
}

.bottom-buttons {
  transform: translate(-50%, 50%);
}

.home-grid {
  justify-content: center;
  display: grid;
  grid-template-rows: 1fr 0fr;
  grid-gap: 2rem;
}